/* Links block */

.links-block {
  font-weight: 300;
  font-family: "Oswald";
}
.links-block__title {
  margin: 0;
  margin-bottom: 15px;

  font-weight: inherit;
  font-size: 26px;
  color: #444444;
  letter-spacing: -0.025em;
}
.links-block__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.links-block__item {
  margin-bottom: 11px;

  font-size: 16px;
  line-height: 1.25;
  color: #bbbbbb;
}
.links-block__item:last-child {
  margin-bottom: 0;
}
.links-block__link {
  color: inherit;
  text-decoration: none;
}
