/* Signup block */

.signup__first-name {
  margin-bottom: 9px;
}
.signup__last-name {
  margin-bottom: 9px;
}
.signup__email {
  margin-bottom: 9px;
}
.signup__disclaimer {
  margin: 0;

  font-size: 11px;
  line-height: 1.3;
  font-family: "Arial";
  text-align: center;
}
.signup__link {
  color: inherit;
  text-decoration: underline;
}
.signup__link:hover {
  text-decoration: none;
}
